body{
	background-color: darkgray;
	font-family: cursive;
	text-align: center;
}
section.formulario{
	background-color: lightgray;
	border-radius: 10px;
	width: 500px;
	text-align: center;
	margin: 0 auto;
	padding: 10px;
	border-style: dashed;
	border-top-color: lightcyan;
	border-bottom-color: lightcyan;
	border-right-color: lightcyan;
	border-left-color: lightcyan;
}
h1{
	color: lightcyan;
	font-family: serif;
	text-align: center;
}
h3{
	color: lightcyan;
	font-family: serif;
}

input{
	border-style: double;
	border-bottom-color: lightcyan;
	border-top-color: lightcyan;
	border-right-color: lightcyan;
	border-left-color: lightcyan;
}
button{
	font-size: 20px;
	border-style: groove;
}

header{
	background-color: lightcyan;
	color: lightcyan;
	text-align: center;
	padding: 20px;
	font-size: 24px;
	font-family: fantasy;
}
table{
	border-collapse: collapse;
	border-color: lightcyan;
	td{
		background-color: darkgray;
	}
    th{
    	background-color: darkgray;
    	color: black;
    }  
}

h1{
	color: lightcyan;
}
nav{
	background: lightcyan;
	padding: 10px;
	text-align: center;
}

nav a{
	color: lightgray;
	padding: 10px;
	text-decoration: none;
	display: inline-block;
}

nav a:hover{
	color: cyan;
}

section.contenedor{
	display: flex;
	max-width: 800px;
	margin: 20px auto;
}

article{
	flex: 2;
	padding: 20px;
	background-color: lightgray;
	margin-right: 5px;
	border-radius: 20px;
	font-family: monospace;
}



aside{
	flex: 2;
	padding: 20px;
	background-color: cadetblue;
	border-radius: 20px;
	font-family: monospace;
}

footer{
	background-color: lightcyan;
	color: darkgray;
	text-align: center;
	padding: 10px;
	margin-top: 20px;
}
